@font-face {
  font-family: 'SemiBold';
  src: url('~@/common/fonts/Montserrat-SemiBold.otf');
}
@font-face {
  font-family: 'Regular';
  src: url('~@/common/fonts/Montserrat-Regular.otf');
}
@font-face {
  font-family: 'Bold';
  src: url('~@/common/fonts/Montserrat-Bold.otf');
}
@font-face {
  font-family: 'Light';
  src: url('~@/common/fonts/Montserrat-Light.otf');
}
